<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=persondatastorage;AccountKey=4tI3Jx5R+YfSd6M6futGgVxFpa4P3gv9lXKItr1kqPXElhAfWgCkyDl+ztBLlzV3ngBAzqbdZx/8ZB3pCgOF+g==;EndpointSuffix=core.windows.net" />
</connectionStrings>