<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Xpirit.Cognitive.Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Xpirit.Cognitive.Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ProjectOxford.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.308.0" newVersion="1.0.308.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Xpirit.Cognitive.Assistant.Properties.Settings>
      <setting name="AnalysisInterval" serializeAs="String">
        <value>00:00:03</value>
      </setting>
      <setting name="FaceAPICallCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EmotionAPICallCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VisionAPICallCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoStopEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FaceAPIKey" serializeAs="String">
        <value>4c13288f56b347e2b5447293a9699744</value>
      </setting>
      <setting name="EmotionAPIKey" serializeAs="String">
        <value>5e5fa189b5c142599ed16dcae2470d5c</value>
      </setting>
      <setting name="VisionAPIKey" serializeAs="String">
        <value>549079bc83b4419b8313acbc2c063f9c</value>
      </setting>
    </Xpirit.Cognitive.Assistant.Properties.Settings>
</userSettings>
  <applicationSettings>
    <Xpirit.Cognitive.Assistant.Properties.Settings>
      <setting name="AutoStopTime" serializeAs="String">
        <value>00:05:00</value>
      </setting>
    </Xpirit.Cognitive.Assistant.Properties.Settings>
  </applicationSettings>
</configuration>